@import url(bootstrap.css);

html {
    height: 100%;
    width: 100%;
}

body {
    background: #2C4762 url('/assets/background.png') top repeat-x;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.hero-unit {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.container {
    width: 820px;
}

.navbarHeader{
    position:relative; left: 20px;
}

/* no hover color change for the user name header*/
a#userNameHeader:hover {
    color: #999;
}

.pointer {
    cursor: pointer;
}

.centerContainer {
    position:relative; padding: 35px 50px 10px 50px;
    margin-top: 20px;
}

/* blog container style */
.blogHeader {
    margin-top: 0px; padding-bottom: 0px
}

/* blog post style*/
div[class~="blogPost"][class~="hero-unit"] {
    background-color:  #E0E0E0; padding: 10px 10px 30px 30px;
}

div[class~="blogPost"][class~="hero-unit"] p {
    margin-top:15px;
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
}

.postUserName {
    display:inline; margin-left: -20px; font-size: 1.1em; font-family: "COMIC SANS MS"; color: #444;
}

.postTitleAndDateContainer{
    position:static; margin-top:5px; width: 500px;
}

.postDate {
    position: relative; float:right; font-size: 0.8em; font-family: "COMIC SANS MS"; color: #444; right: 10px;
}

.postDate :after{
    clear:both;
}

.postTitle{
    position:relative; top: 10px; font-size: 1.3em;
}

.blogPostTags {
    position: relative; margin-bottom: -15px;
}
.blogPostTag {
    cursor: pointer; margin-right: 7px; font: 11px 'Lucida Grande',Verdana,sans-; color: #444
}

.blogPostTag:hover {
    color: #A8B1BA;
    text-decoration: underline;
}

.traversePostButton {
    margin-right: 30px; cursor: pointer;
}

/* side options */
.sideOptions {
   float:right;
}
.sideOptions:after{
    clear:both;
}

.sideOptionsButton {
    position: relative ;font-size: 1.4em; font-family: "COMIC SANS MS"; color: #e1e1e6;
    width: 100%; margin-bottom: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: #acacb3;
    background-image: linear-gradient(top, #454545 81%, #999399 0%);
    background-image: -o-linear-gradient(top, #454545 81%, #999399 0%);
    background-image: -moz-linear-gradient(bottom, #454545 17%, #999399 83%);
    background-image: -webkit-linear-gradient(top, #454545 81%, #999399 0%);
    background-image: -ms-linear-gradient(top, #454545 81%, #999399 0%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.81, #454545),
        color-stop(0, #999399)
    );

}

.sideOptionsButton:after {
    display: table;
    content: "";
}

.searchOptions {
    position: relative; margin-top:30px; padding-left:5px; padding-right:5px; display:none; padding: 10px 5px 18px 10px;
    }

.searchOptionsSearchLine {
    position:relative; display:block; margin-top: 5px; width:200px; height:30px;
}

.searchOptionsLabel {
    position: absolute; width: 90px;
    font-size: 10px; font-family: 'bookman old style'; line-height: 25px; text-align: center;
}

.searchOptionsInput {
      position: absolute; right: 0%;
}

.searchOptionsSearchButton {
    font-size: 13px; line-height: 19px; font-weight: bold; text-transform: uppercase;
    color: #f0f0f0;
    padding: 8px 15px 8px 15px;
    font-family: 'bookman old style';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 5px;

    background-color: #f0f0f0;
    background-image: linear-gradient(top, #1C2C73 81%, #4C67ED 0%);
    background-image: -o-linear-gradient(top, #1C2C73 81%, #4C67ED 0%);
    background-image: -moz-linear-gradient(bottom, #1C2C73 17%, #4C67ED 83%);
    background-image: -webkit-linear-gradient(top, #1C2C73 81%, #4C67ED 0%);
    background-image: -ms-linear-gradient(top, #1C2C73 81%, #4C67ED 0%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.81, #1C2C73),
        color-stop(0, #4C67ED)
    );
}


/* add post view */
.center{
    margin-left:auto; margin-right: auto;
}
.addPostView{
   position:relative;
   diplay: none;
}

.addPostAddTitle ,
.addPostHeader{
    font:normal 20px "trebuchet ms",sans-serif;
    color:#3E5996;
}

.addPostHeader {
    position:relative;
    font-size: 35px;
}

.addPostHeaderDiv {
    position:relative;
    margin-top: 15px;
}

.addPostTagsInput ,
.addPostContentInput ,
.addPostTitleInput {
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 16px;
    min-height: 30px;
    background-color: #FFFFFF;
    padding: 2px 10px 2px 10px;
    font-size: 25px;
    margin-top:8px;
}


.addPostContentDiv {
    position:relative;
    margin-top: 20px;
    margin-buttom: 40px;
}

.addPostContentInput {
    position: relative;
    height: 400px; overflow-y:scroll; margin-bottom: 40px; line-height: 22px; padding: 10px;
    resize: none; font-size: 18px; font:sans-serif;
}

.addPostTagsInput {
    line-height: 22px; font-size: 18px; font:sans-serif; color: #28A828;
}

.addPostFooterDiv{
    position:relative; bottom: 10px;
}

.addPostButton {
    line-height: 22px;
    font:normal 18px "trebuchet ms",sans-serif;
    color:#172038;
    font-weight: bold;
    margin-right: 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: linear-gradient(top, #6A6978 2%, #949CA6 51%, #A8ADB3 76%);
    background-image: -o-linear-gradient(top, #6A6978 2%, #949CA6 51%, #A8ADB3 76%);
    background-image: -moz-linear-gradient(top, #6A6978 2%, #949CA6 51%, #A8ADB3 76%);
    background-image: -webkit-linear-gradient(top, #6A6978 2%, #949CA6 51%, #A8ADB3 76%);
    background-image: -ms-linear-gradient(top, #6A6978 2%, #949CA6 51%, #A8ADB3 76%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.02, #6A6978),
        color-stop(0.51, #949CA6),
        color-stop(0.76, #A8ADB3)
    );
    background-color: #0f0f0f;
    
}
/*center container animations and views*/
.mainViewColor{
    background-color: #2C4762;
}

.addPostColor{
    background-color: #0f0f0f;
}