@import url(bootstrap.css);

html {
    height: 100%;
    width: 100%;
}

body {
    background: #2C4762 url('/assets/background.png') top repeat-x;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.hero-unit {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.container {
    width: 820px;
}

/* no hover color change for the user name header*/
a#userNameHeader:hover {
    color: #999;
}

.pointer {
    cursor: pointer;
}

.centerContainer {
    position:relative; padding: 35px 50px 10px 50px;
    margin-top: 20px;
}

/* blog container style */
.blogHeader {
    margin-top: 0px; padding-bottom: 0px
}

/* blog post style*/
div[class~="blogPost"][class~="hero-unit"] {
    background-color:  #E0E0E0; padding: 10px 10px 30px 30px;
}

div[class~="blogPost"][class~="hero-unit"] p {
    margin-top:15px;
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
}

.postUserName {
    display:block; margin-left: -20px; margin-top:5px; font-size: 1.1em; font-family: "COMIC SANS MS"; color: #444;
    margin-buttom:30px;
}

.postTitle{
    position:relative; top: 10px; font-size: 1.3em;
}

.blogPostTags {
    position: relative; margin-bottom: -15px;
}
.blogPostTag {
    cursor: pointer; margin-right: 7px; font: 11px 'Lucida Grande',Verdana,sans-; color: #444
}

.blogPostTag:hover {
    color: #A8B1BA;
    text-decoration: underline;
}

.traversePostButton {
    margin-right: 30px; cursor: pointer;
}

/* side options */
.sideOptions {
   float:right;
}
.sideOptions:after{
    clear:both;
}

.sideOptionsButton {
    position: relative ;font-size: 1.2em; font-family: "COMIC SANS MS"; width: 100%; margin-buttom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sideOptionsButton:after {
    display: table;
    content: "";
}

.searchOptions {
    position: relative; margin-top:30px; padding-left:5px; padding-right:5px; display:none;
}

.searchOptionsSearchLine {
    position:relative; display:block; margin-top: 5px; width:200px; height:30px;
}

.searchOptionsLabel {
    position: absolute; width: 90px;
    font-size: 10px; font-family: 'bookman old style'; line-height: 25px; text-align: center;
}

.searchOptionsInput {
      position: absolute; right: 0%;
}

.searchOptionsSearchButton {
    font-size: 10px; line-height: 19px; font-weight: bold; text-transform: uppercase;
    font-family: 'bookman old style';
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 5px;
    background-color: #0f0f0f;
}


/* add post view */
.center{
    margin-left:auto; margin-right: auto;
}
.addPostView{
   diplay: none;
}

.addPostAddTitle ,
.addPostHeader{
    font:normal 20px "trebuchet ms",sans-serif;
    color:#3E5996;
}

.addPostHeader {
    font-size: 35px;
}

.addPostHeaderDiv {
    margin-top: 15px;
}

.addPostTagsInput ,
.addPostContentInput ,
.addPostTitleInput {
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 16px;
    min-height: 30px;
    background-color: #FFFFFF;
    padding: 2px 10px 2px 10px;
    font-size: 25px;
    margin-top:8px;
}


.addPostContentDiv {
    margin-top: 20px;
}

.addPostContentInput {
    height: 400px; overflow-y:scroll; margin-bottom: 40px; line-height: 22px; padding: 10px;
    resize: none; font-size: 18px; font:sans-serif;
}

.addPostTagsInput {
    line-height: 22px; font-size: 18px; font:sans-serif; color: #28A828;
}

.addPostFooterDiv{
    position:relative; bottom: 10px;
}

.addPostButton {
    line-height: 22px;
    font:normal 20px "trebuchet ms",sans-serif;
    color:#CACACA;
    font-weight: bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: -moz-linear-gradient(top, #C0C0C0, #F2F2F2);
    background-image: -ms-linear-gradient(top, #C0C0C0, #FAF6F7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C0C0C0), to(#CACACA));
    background-image: -webkit-linear-gradient(top, #C0C0C0, #CACACA);
    background-image: -o-linear-gradient(top, #C0C0C0, #CACACA);
    background-image: linear-gradient(top, #C0C0C0, #FAF6F7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#FAF6F7', GradientType=0);

}
/*center container animations and views*/
.mainViewColor{
    background-color: #2C4762;
}

.addPostColor{
    background-color: #0f0f0f;
}